<div class="container form">

<form action="/registrations" method="POST">

    <div class="field">
      <label class="label" for="username">Name</label>
      <div class="control">
        <input name="username" class="input" type="text">
      </div>
    </div>
    <div class="field">
      <label class="label" for="email">Email</label>
      <div class="control">
        <input name="email" class="input" type="email">
      </div>
    </div>
    <div class="field">
      <label class="label" for="password">Password</label>
      <div class="control">
        <input name="password" class="input" type="password">
      </div>
    </div>
    <div class="field">
      <label class="label" for="passwordConfirmation">Password Confirmation</label>
      <div class="control">
        <input name="passwordConfirmation" class="input" type="password">
      </div>
    </div>

    <button class="button is-info">Sign up</button>

</form>

</div>
