<nav class="navbar">
  <div class="container">
<div class="navbar-left">
  <div class="navbar-brand">
  <a class="navbar-item home-button" href="/">THE CORD PROJECT</a>
  </div>
</div>
<div class="navbar-end">
  <div class="navbar-menu">


    <% if(!locals.isLoggedIn) { %>
    <a class="navbar-item" href="/about">ABOUT</a>
    <a class="navbar-item" href="/posts">ARCHIVE</a>
    <a class="navbar-item" href="/registrations/new">SIGN UP</a>
    <a class="navbar-item" href="/sessions/new">LOGIN</a>
  <% } else { %>
    <a class="navbar-item" href="/posts/new">CREATE NEW POST</a>
    <a class="navbar-item" href="/about">ABOUT</a>
    <a class="navbar-item" href="/posts">ARCHIVE</a>

    <a class="navbar-item" href="/sessions/delete">LOG OUT <%= locals.user.username %></a>
    <% } %>




  </div>


</div>
</div>
</nav>
