<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">ยก
    <title>The Cord Project</title>
  </head>
  <body>
    <% include ./partials/_header %>
<div class="container">
  <section class="hero is-dark">
    <div class="hero-body">
      <div class="container">
        <h1 class="title"> The Cord Project</h1>
      </div>
    </div>
  </section>

  <% for (const type in locals.messages) { %>
    <div class="message is-<%= type %>">
      <div class="message-body">
        <%= messages[type] %>
      </div>
    </div>
  <% } %>

    <%- body %>
    </div>
    <% include ./partials/_footer %>
  </body>
</html>
