<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cinzel|Lora|Montserrat" rel="stylesheet">
        <script type="text/javascript" src="/bulma-carousel.min.js"></script>
        <link rel="stylesheet" href="/bulma-carousel.min.css">

    <title>The Cord Project</title>
  </head>
  <body>
    <div class="container is-widescreen">
    <% include ./partials/_header %>


  <% for (const type in locals.messages) { %>
    <div class="message is-<%= type %>">
      <div class="message-body">
        <%= messages[type] %>
      </div>
    </div>
  <% } %>

    <%- body %>

    <% include ./partials/_footer %>
      </div>
      <script type="text/javascript">
        var carousels = bulmaCarousel.attach();
      </script>
  </body>
</html>
