.hero-image {
  padding: 0;
  width: 100%;
}

.link {
  text-decoration: none;
}

.link p,p:hover {
  color: rgb(90, 90, 90);
}

a {
  text-decoration:  none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(253, 251, 247);
  color: rgb(90, 90, 90);
}

.about-header {
  height: 600px;
  width: 100%;
}

.about-text {
  font-size: 20px;
}

.home-button {
  font-family: 'Cinzel', serif;
  font-size: 20px;
}

h1 {
  font-family: 'Cinzel', serif;
  color: rgb(90, 90, 90);

}

.navbar {
  background-color: rgb(253, 251, 247);
}

.footer {
  background-color: rgb(253, 251, 247);
  font-family: 'Cinzel', serif;
}

.form {
  height: 100vh;
  width: 50%;
  margin-top: 50px;
}

.button {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(90, 90, 90);
  border-radius: 10%;
  color: white;
}


.show-post {
    white-space: inherit;
    overflow: hidden;
    text-overflow:ellipsis;
}
