.hero-image {
  padding: 0;
  width: 100%;
}

.link {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(253, 251, 247);
  color: rgb(90, 90, 90);
}

.about-header {
  height: 600px;
  width: 100%;
}

.home-button {
  font-family: 'Cinzel', serif;
  font-size: 20px;
}

h1 {
  font-family: 'Cinzel', serif;
  color: rgb(90, 90, 90);

}

.navbar {
  background-color: rgb(253, 251, 247);
}

.footer {
  background-color: rgb(253, 251, 247);
}

.form {
  height: 100vh;
}
