<img class="about-header" src="../beach.jpg" alt="header">

<br>
<br>


<h1 class="title is-3"> THE CHORD PROJECT - A SUSTAINABLE FASHION BLOG</h2>

<p class='about-text'>Sustainable fashion is today a highly debated and increasingly covered topic in media and at seminars worldwide. More and more clothing companies are transforming their business models and improving their supply chains to reduce overall environmental impacts, improve social conditions in factories, etc. We also see a growing awareness among consumers, especially younger generations. (It may be added that some individuals rightly question whether the word “sustainable” should in fact be used in relation to the fashion industry, which by definition relies on fast consumption. A better term may thus be more sustainable fashion.)

When we learn about “sustainable fashion”, we soon realize that there are many forms of (more) sustainable fashion. Some actors and individuals emphasize the importance of making clothes in a more environmentally friendly manner, while others advocate secondhand/vintage or underline the benefits of swapping, renting or borrowing clothes as opposed to purchasing newly produced clothes. All strategies promoting more environmentally, socially and ethically conscious production and consumption are important steps towards a more sustainable industry. Green Strategy has identified seven main forms of more sustainable fashion production and consumption, as seen in the figure below.</p>

<br>



<h2 class="title is-6">Green Strategy</h2>

<p class='about-text'>Ideally, all aspects of the figure above should be combined for every new garment produced. Hence each garment should first be manufactured on demand or custom-made (No. 1), in high quality and timeless design (No. 2), in an environmentally friendly manner (No. 3) and with consideration to various ethical aspects (No. 4). Thereafter, it should be used long and well through good care, repair and perhaps redesign (No. 5). When the product is no longer desired, it should be handed in to a secondhand shop, donated to charity or handed over to friends, relatives or perhaps a swap-shop, to prolong its active life (No. 6 and 7). When the garment is completely worn out, it should be returned to a collection point for recycling of the textile material, which can hence be reused in the manufacturing of new clothes or other textile products. Ideally, instead of buying newly produced clothes, one should consider renting, borrowing or swapping clothes (No. 6), or to buy secondhand or vintage (No. 7). /</p>

<br>
<br>

  <div class="columns is-multiline">
      <div class="column is-4">
      <figure class="image is-square is-240x240">
      <img src="/hands.jpg" alt="hands">
    </figure>
    </div>
    <div class="column is-4">
    <figure class="image is-square is-240x240">
    <img src="/ocean-waves.jpg" alt="hands">
  </figure>
  </div>
  <div class="column is-4">
  <figure class="image is-square is-240x240">
  <img src="/beach.jpg" alt="hands">
</figure>
</div>


    </div>


<p class='about-text'>

The figure thus shows seven forms of sustainable fashion from a consumer and producer perspective. Although ideally, clothes and other fashion products should be produced and consumed in the manner described above, in reality this is not the case yet. What we rather should seek, is that every individual tries to find his or her form(s) of more sustainable fashion. All forms do not necessarily suit all people equally well because we all have different needs and preferences. Some individuals – usually younger – prefer to experiment with and renew their wardrobes often; using “Second hand & Vintage”, “Repair, Redesign & Upcycle” and “Rent, Loan & Swap” would possibly be of most interest. For people who prefer newly manufactured clothes without history and who has a consistent style, “On demand” and “High quality & Timeless design” are likely to be most attractive.

Whether one prefers to renew the wardrobe often or more sporadically, “Green & Clean” and “Fair & Ethical” are important choices when purchasing new clothing. Buying new clothes that are manufactured in an environmentally and socially/ethically conscious manner is something we all should aspire as much as possible, although it may entail a somewhat higher price tag. </p>

<br>
