<div class="container form">

<form method="POST" action="/sessions">
  <div class="field">
    <label for="email">Email</label>
    <input class="input" type="text" name="email" id="email">
  </div>
  <div class="field">
    <label for="password">Password</label>
    <input class="input" type="password" name="password" id="password">
  </div>
  <% if(locals.targetUrl) { %>
  <input type="hidden" name="targetUrl" value="<%= targetUrl %>">
  <% } %>
  <button class="button is-info">Login</button>
</form>

</div>
