<img src="../the-cord-project.png" alt="header">
  <div class="columns is-multiline">
<% posts.forEach(post => { %>
  <div class="column is-4">
  <a href="/posts/<%= post.id %>">
  <figure class="image is-square is-240x240">
  <img src=<%= post.image %> alt=<%= post.title %> />
  </figure>
  <h2 class="title is-6"><%= post.title %></h2>
  </a>
  </div>
<% }) %>
</div>
