<img src="../the-cord-project.png" alt="header">

<form action="/posts" method="POST">
    <div class="field">
      <label class="label" for="title">Title</label>
      <div class="control">
        <input name="title" class="input" type="text">
      </div>
    </div>

    <div class="field">
      <label class="label" for="subtitle">Subtitle</label>
      <div class="control">
        <input name="subtitle" class="input" type="text">
      </div>
    </div>

    <div class="field">
      <label class="label" for="image">Image (URL)</label>
      <div class="control">
        <input name="image" class="input" type="text">
      </div>
    </div>

    <div class="field">
      <label class="label" for="date">Date Published</label>
      <div class="control">
        <input name="date" class="input" type="text">
      </div>
    </div>

    <div class="field">
      <label class="label" for="readingTime">Reading Time</label>
      <div class="control">
        <input name="readingTime" class="input" type="text">
      </div>
    </div>


    <div class="field">
      <label class="label" for="likes">Likes</label>
      <div class="control">
        <input name="likes" class="input" type="number">
      </div>
    </div>

    <div class="field">
      <label class="label" for="content">Content</label>
      <div class="control">
        <input name="content" class="input" type="text">
      </div>
    </div>

    <button class="button">Post New Post</button>
  </form>
